/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--headers-primary: #000000;
	--primary: #FFFFFF;
	--btn-primary: #353BD7;	
	--secondary: #03283C;
	--section-padding: clamp(3.75rem, 2.083rem + 5.56vw, 6.25rem);
	--header-clamp: clamp(1.5rem, 0.797rem + 2.34vw, 2.25rem);
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}
body {
	min-height: 100dvh;
	font-family: 'Inter';
	background-color: #F1F5F9;
}

body.locked {
	overflow-y: hidden;
	touch-action: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
	
}

ul, ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
	padding: 0;
	border: 0;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
}

main {
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
  }

nav.c-breadcrumbs {
	padding: 10px;
	background-color: #00000077;
	color: var(--primary);

	
} 


.c-breadcrumbs__crumb {
	display: flex;
	align-items: center;
	gap: 5px;
}
.c-breadcrumbs ol {
	display: flex;
	gap: 15px;
	list-style: none;
	
}

.c-breadcrumbs__link {
	color: var(--primary);

}

@media(max-width: 600px) {
	.c-breadcrumbs__link  {
		font-size: 14px;
	}  
}
@media(max-width: 450px) {
	.c-breadcrumbs__link  {
		font-size: 11px;
	}  
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
	transition: 200ms ease all;
	border: 1px solid var(--btn-primary) !important;
	outline: none;
}
