/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--headers-primary: #000000;
	--primary: #FFFFFF;
	--btn-primary: #353BD7;	
	--secondary: #03283C;
	--section-padding: clamp(3.75rem, 2.083rem + 5.56vw, 6.25rem);
	--header-clamp: clamp(1.5rem, 1.167rem + 1.11vw, 2rem);
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}
body {
	min-height: 100dvh;
	font-family: 'Inter';
	background-color: #F1F5F9;
}

body.locked {
	overflow-y: hidden;
	touch-action: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
	
}

ul, ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
	padding: 0;
	border: 0;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
}

main {
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.container {
	max-width: 1330px !important;
	margin: 0 auto !important;
	padding: 0 15px !important;
}

ul {
	padding-left: unset !important;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
  }
 


@media(max-width: 600px) {
	.c-breadcrumbs ol {
		row-gap: 10px;

	}
}

.c-breadcrumbs__link {
	color: var(--primary);

}


input[type="text"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
	transition: 200ms ease all;
	border: 1px solid var(--btn-primary) !important;
	outline: none;
}


.calc-form {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
}


/* .calc_type-3 {
    display: flex !important;
    justify-content: center !important;
	gap: 1rem;
} */
.calc_type-x {
	display: flex !important; 
	justify-content: space-between;
	max-width: 600px;
	width: 100%;
}

.calc-fright {
	display: flex !important;
	margin-left: unset !important;
	gap: 1rem;
	width: 100%;
	
}


.calc-fleft {
	width: 100% !important;
	margin-right: 20px !important;
	max-width: 250px !important;
}

.calc-input {
	width: 100% !important;
}

.calc-footer .calc-fright {
	align-items: center !important;
}

@media(max-width: 575px) {

	.calc-form  {
		display: flex !important;
		justify-content: center;
	}

	.calc-fleft {
		width: 100% !important;
		max-width: unset !important;
	}

	.calc_type-x {
		flex-direction: column;
		max-width: 400px;
		width: 100%;
		justify-content: center;
	}

	.calc-fright {
		justify-content: center;
		justify-content: start;
	}

	.calc-input {
		width: 100% !important;
	}

	.period_type {
		width: calc(100% - 28px) !important;
	}

	
}

@media(max-width: 767px) {
	
	.calc-result-split {
		justify-content: center;
	}
}

.calc-submit  {
	font-weight: 500 !important;
    font-size: 18px !important;
    padding: 10px 23px !important;
    background-color: var(--btn-primary) !important;
    border-radius: 100px !important;
    color: var(--primary) !important;
    margin-top: 20px !important;
    line-height: 160% !important;
    transition: 0.3s ease background !important;
	height: unset !important;
	text-transform: unset !important;
	margin: 0 auto !important;
	transition: .3s ease background;
            
	
}

.calc-submit:hover {
	background: #0b1099 !important;
}

.calc-result-col {
	flex-basis: unset !important;
}

.tooltip-icon {
	display: none !important;
}

.top-padding-normal {
	flex-wrap: wrap;
}

.calc-result-value {
	font-size: unset !important;
}

.calc-radio:not(checked) + label:after {
	background-color: var(--btn-primary) !important;
}

#calcus-container {
	animation: fade .5s step-end !important;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}