/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 :root {
	--headers-primary: #000000;
	--primary: #FFFFFF;
	--btn-primary: #353BD7;	
	--secondary: #03283C;
	--section-padding: clamp(3.75rem, 2.083rem + 5.56vw, 6.25rem);
	--header-clamp: clamp(1.375rem, 1.077rem + 1.49vw, 2rem);
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

*::selection {
	background-color: var(--headers-primary);
    color: var(--primary);
}

body {
	min-height: 100dvh;
	font-family: 'Inter';
	background-color: #F1F5F9 !important;
}

body.locked {
	overflow-y: hidden;
	touch-action: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
	
}

ul, ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
	padding: 0;
	border: 0;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
}

main {
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.container {
	max-width: 1330px !important;
	margin: 0 auto !important;
	padding: 0 15px !important;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
  }
 


  .c-breadcrumbs__link {
	color: var(--headers-primary);
	text-transform: uppercase !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	transition: .3s ease;

	&:hover {
		color: var(--btn-primary);
	}
}


.c-breadcrumbs__separator {
	margin: 0 3px !important;
}

.c-breadcrumbs__crumbs {
	column-gap: 0px;
	row-gap: 7px;
}

[data-disabled="true"] {
	pointer-events: none;
	color: #B0B8C0 !important;
}


input[type="text"]:focus, input[type="tel"]:focus, input[type="number"]:focus, select:focus {
	transition: 200ms ease all;
	border: 1px solid var(--btn-primary) !important;
	outline: none;
}

.calc-form {
	background-color: #F1F5F9 !important;
	border-color: #F1F5F9 !important;
}

#calcus-container {
	max-width: 850px;

	margin: 0 auto;
}


.calc-frow {
	margin-left: 20%;
}
@media(max-width: 992px) {
	.calc-frow {
		margin-left: unset;
	}
}



.calc-fleft {
	width: unset !important;
	margin-right: 25px;

}

.calc-submit  {
	font-weight: 500 !important;
    font-size: 18px !important;
    padding: 10px 23px !important;
    background-color: var(--btn-primary) !important;
    border-radius: 100px !important;
    color: var(--primary) !important;
    margin-top: 20px !important;
    line-height: 160% !important;
    transition: 0.3s ease background !important;
	height: unset !important;
	text-transform: unset !important;
	margin: 0 auto !important;
	transition: .3s ease background;
            
	
}

.calc-submit:hover {
	background: #0b1099 !important;
}




.form-sent-message {
	position: absolute;
	inset: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
	opacity: 0;
	pointer-events: none;
	transition: .4s ease all;
	padding: 15px;
	p {
		margin-top: 15px !important;
		font-size: 26px !important;
		color: var(--headers-primary) !important;
		text-align: center !important;
	}
}
.form-sent-message.active {
		opacity: 1;
		pointer-events: all;
}
.body {
	
	

	p {
		line-height: 1.62;
		font-size: 16px;
		margin: 0 0 16px;

	}
	a {
		color: var(--headers-primary);
		text-decoration: 1px solid underline;
		display: inline-block;
		font-size: unset;
		&:hover {
			color: var(--secondary);
		}
	}
	h1 {
		font-weight: 700;
		line-height: 1.2;
		margin: 0 0 1.5385rem;
	}

	h2 {
		font-size: 22px;
		font-weight: 700;
		margin: 1.5rem 0;
		line-height: 160%;
		@media (max-width: 767px) {
				font-size: 20px;
		}

		
	}

	h3 {
		font-size: 22px;
		font-weight: 700;
		margin: 1rem 0;
		

		@media (max-width: 576px) {
				font-size: 20px;
		}
	}

	ol,ul {
		padding: 16px 0 32px;

		li {
			font-size: 16px;
			

			&:not(:first-child) {
				margin-top: 1rem;
			}
		}

		
	}

	ul {
		padding-left: 1.75rem;
		li {
			position: relative;
			&::before {
				content: '';
				background-color: var(--secondary);
				position: absolute;
				top: 7px;
				left: -28px;
				width: 7px;
				height: 7px;
				border-radius: 150%;

		}
	}
}

	ol {
		list-style-type: none;
    	counter-reset: num;
    	padding-left: 1.75rem;

		li {
			position: relative;
			&::before {
				content: counter(num) ".";
				counter-increment: num;
				display: flex;
				position: absolute;
				top: 0;
				left: -28px;
				width: 20px;
				color: var(--secondary);
				font-weight: 700;
				font-size: 16px;

			}
		}

	}
	

	img {
		border-radius: 10px;
    	margin-bottom: 20px;
		max-height: 500px;
		width: 100%;
		max-width: 800px;
		height: auto;

		@media (max-width: 1000px) {
			max-width: 100%;
		}
	}

	i {
		display: block;

		line-height: 1.62;
		font-size: 16px;
		margin: 0 0 1rem;

		
	}

	p:has(em)  {
		margin-bottom: 24px;
		font-size: 14px;
	}

	.highlight {
		font-style: unset !important;
		margin-top: .4rem;
		display: block;
		color: var(--secondary);
	}
}

.burger-menu {
	&.active {
		.vtorichka__badge {
			position: static !important;
			display: block;
	}
	}
}

@view-transition {
  navigation: auto;
}

