---
const {title} = Astro.props
---

<section aria-labelledby="apartmentSearching__title">
    <div class="container">
        <h2 id="apartmentSearching__title">Поиск квартиры в комплексе по вашим параметрам</h2>

        <p>Выберите параметры квартиры и получите подходящие планировки с актуальными ценами</p>

        <div>Какая отделка Вас интересует?</div>
        <form class="apartmentSearching__form" data-name={title}>

            <div class="checkboxes">
                <label>Чистовая <input class="apartmentCheckbox" type="checkbox" value="Чистовая"/></label>
                <label>Предчистовая <input class="apartmentCheckbox" type="checkbox" value="Предчистовая"/></label>
                <label>Черновая <input class="apartmentCheckbox" type="checkbox" value="Черновая"/></label>
            </div>

            <div class="inputs__wrapper">
                <label>Имя
                    <input required id="apartmentSearchingName" type="text" placeholder="Ваше имя" name="name"/>
                </label>
                
                <label>Телефон
                    <input required id="apartmentSearchingPhone" type="tel" class="phoneMask" placeholder="Ваш телефон" name="phone"/>
                </label>
                
                <button>Записаться</button>
            </div>
        </form>
        <p class="personalData">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>

    </div>
</section>

<style lang="scss">
    section {
        padding: var(--section-padding) 0;
		color: var(--headers-primary);

        .personalData {
                font-size: 12px;
        }

        h2 {
            font-weight: 500;
			font-size: var(--header-clamp);
			text-align: center;
			margin-bottom: 40px;
            color: var(--headers-primary);

        }

        p {
            margin: 20px 0;
        }

        form {
            margin-top: 10px;

            .checkboxes {
                display: flex;
                gap: 10px;
                align-items: center;
                flex-wrap: wrap;
                
                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .inputs__wrapper {
                display: flex;
                gap: 10px;
                margin-top: 20px;

                @media(max-width: 992px) {
                    flex-direction: column;
                }
                label {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    input {
                        width: 100%;
                        padding: 16px 20px;
                        border: 1px solid #d3dad7;
                        font-weight: 400;
                        font-size: 16px;
                        text-transform: capitalize;

                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            text-transform: capitalize;
                        }
                    }
                }
                button {
                    flex: 1;
                    padding: 17px;
                    background: var(--btn-primary);
                    font-weight: 700;
                    font-size: 18px;
                    color: var(--primary);
                    max-height: 52px;
                    height: 100%;
                    transition: .3s ease background;
                    align-self: end;
                    @media(max-width: 992px) {
                        align-self: unset;
                        margin-top: 15px;
                    }

                    &:hover {
                        background: #0b1099;
                    }
                }
            }
            
        }

    }
</style>

<script>
    const apartmentSearchingForm: any = document.querySelector(".apartmentSearching__form");
    const jkName = apartmentSearchingForm.dataset.name
	const apartmentSearchingPhone = document.querySelector('#apartmentSearchingPhone')
	const apartmentSearchingName = document.querySelector('#apartmentSearchingName')
	

    let  created = [];
    const checkboxes = document.querySelectorAll('.apartmentCheckbox')

    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', e => {
            const index = created.indexOf(e.target.value);
            index === -1 ? created.push(e.target.value) : created.splice(index, 1);
            
        })
    })

    

    function sendData() {
        // Associate the FormData object with the form element
        const formData = new FormData(apartmentSearchingForm);
        
        try {
            checkboxes.forEach((checkbox: any) => {
                // @ts-ignore
            const response =  fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=9999999999&name=name&object_name=${jkName}&message=Поиск квартиры по параметрам: ${created.join()}&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
                method: "POST",
                // Set the FormData instance as the request body
                body: formData,
            });
            console.log(response.json());
        })
        } catch (e) {
            console.error(e);
        }
    }

	// Take over form submission
	apartmentSearchingForm.addEventListener("submit", (event) => {
	event.preventDefault();
	sendData();
	apartmentSearchingPhone.value = ''
	apartmentSearchingName.value = ''

    checkboxes.forEach((item) => {
        // @ts-ignore
        item.checked = false
    })
	});
</script>