---
import { Image } from "astro:assets";
import cardFormImg from '../assets/cardForm.jpg'

---


<section aria-labelledby="consultancy__title">
    <div class="container">
       <div class="cardform__wrapper">
            <Image src={cardFormImg} alt="Картинка здания"/>
            <div class="cardform-right">
                <h2 id="consultancy__title">Запишитесь на бесплатную консультацию</h2>
        
                <p>Мы подробно расскажем обо всех проектах строящихся и готовых жилых комплексов.</p>
        
        
                <form class="consultancyForm">
                    <div class="input__wrapper">
                        <label class="visually-hidden" for="">Ваше имя</label>
                        <input required id="consultancyName" placeholder="Ваше имя" type="text" name="name">
                        <label class="visually-hidden" for="">Телефон</label>
                        <input required id="consultancyPhone" class="phoneMask" placeholder="Телефон" type="tel" name="phone">
                    </div>
                    
                    <button type="submit">Записаться</button>
                    <span>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</span>
                </form>
                <div class="form-sent-message playboiCartiMessage">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><switch><g><g fill="#02bc7d"><path d="M9.7 11.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3 3c.2.2.4.3.7.3s.5-.1.7-.3l7-8c.3-.5.3-1.1-.2-1.4-.4-.3-1-.3-1.3.1L12 13.5z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path><path d="M21 11c-.6 0-1 .4-1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8c0-2.1.8-4.1 2.3-5.6C7.8 4.8 9.8 4 12 4c.6 0 1.3.1 1.9.2.5.2 1.1-.1 1.3-.7s-.2-1-.7-1.2h-.1c-.8-.2-1.6-.3-2.4-.3C6.5 2 2 6.5 2 12.1c0 2.6 1.1 5.2 2.9 7 1.9 1.9 4.4 2.9 7 2.9 5.5 0 10-4.5 10-10 .1-.6-.4-1-.9-1z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path></g></g></switch></g></svg>										
                    <p>Форма успешно отправлена</p>
                </div>
            </div>
       </div>
    </div>
</section>

<style lang="scss">
    section {
        padding: var(--section-padding) 0;
    }

    .cardform__wrapper {
        display: flex;
        justify-content: center;
        @media(max-width: 992px) {
            flex-wrap: wrap;
            width: 100%;
            box-shadow: 0px 9px 15px 1px rgba(34, 60, 80, 0.356);
        }

        img {
            max-width: 500px;
            width: 100%;
            object-fit: cover;
            object-position: left;
            height: auto;

            @media(max-width: 992px) {
                max-width: unset;
            }
        }
    }

    .cardform-right {
        background-color: var(--primary);
        padding: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
        max-width: 700px;
        width: 100%;
        position: relative;
        box-shadow: 0 4px 68px 10px rgba(0,0,0,0.09);
        @media(max-width: 992px) {
            max-width: unset;
        }
        h2 {
            font-size: var(--header-clamp);
            font-weight: 700;

            @media(max-width: 992px) {
                text-align: center;
            }

            @media(max-width: 767px) {
                text-wrap: balance;
                font-size: 22px;
                text-align: center;
            }
        }

        p {
            margin: clamp(1.5rem, 1.167rem + 1.11vw, 2rem) 0;   
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #0d0d0d;

            @media(max-width: 767px) {
                text-align: center;
            }
        }

        form {
            
            .input__wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

            }

            input {
                padding: 16px 20px;
                border: 1px solid #d3dad7;
                padding: 13px;
                border-radius: 5px;
                outline: none;
                border: 0;
                font-weight: 400;
                color: var(--headers-primary);
                font-size: 18px;
                border: 1px solid #d3dad7;
                width: 100%;
            }

            span {
                font-size: 12px;
                margin-top: 10px;
                display: inline-block;
                text-align: center;
            }

            button {
                font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 5px;
                color: var(--primary);
                margin-top: 20px;
                line-height: 160%;
                width: 100%;
                text-align: center;
                @media(max-width: 600px) {
                }

                transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
            }
        }
    }
</style>

<script>
    const consultancyForm: any = document.querySelector(".consultancyForm");
	const consultancyPhone = document.querySelector('#consultancyPhone')
	const consultancyName = document.querySelector('#consultancyName')
	async function sendData() {
	// Associate the FormData object with the form element
	const formData = new FormData(consultancyForm);

	try {
		const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=9999999999&name=name&message=Консультация&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
		method: "POST",
		// Set the FormData instance as the request body
		body: formData,
        mode: 'no-cors',
		});
		console.log(await response.json());
	} catch (e) {
		console.error('2024');
	}
	}
    const playboiCartiMessage = document.querySelector('.playboiCartiMessage')
	// Take over form submission
	consultancyForm.addEventListener("submit", (event) => {
	event.preventDefault();
	sendData();
    playboiCartiMessage.classList.add('active')
	setTimeout(() => {
		playboiCartiMessage.classList.remove('active')
	}, 5000);
	consultancyPhone.value = ''
	consultancyName.value = ''
	});
</script>