---
import { Image } from "astro:assets";
import cardFormImg from '../assets/cardForm.jpg'

---


<section aria-labelledby="consultancy__title">
    <div class="container">
       <div class="cardform__wrapper">
            <Image src={cardFormImg} alt="Картинка здания"/>
            <div class="cardform-right">
                <h2 id="consultancy__title">Запишитесь на бесплатную консультацию</h2>
        
                <p>На экскурсии мы расскажем, как выстроить стратегию продвижения клиники еще до ее открытия, какие инструменты необходимо задействовать, и покажем на примере КАК это должно работать.</p>
                <p>В результате вы получите практические рекомендации и весь путь к увеличению потока пациентов.</p>
        
        
                <form class="consultancyForm">
                    <div class="input__wrapper">
                        <label class="visually-hidden" for="">Ваше имя</label>
                        <input required id="consultancyName" placeholder="Ваше имя" type="text" name="name">
                        <label class="visually-hidden" for="">Телефон</label>
                        <input required id="consultancyPhone" class="phoneMask" placeholder="Телефон" type="tel" name="phone">
                    </div>
                    <span>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</span>
        
                    <button type="submit">Записаться</button>
                </form>
            </div>
       </div>
    </div>
</section>

<style lang="scss">
    section {
        padding: var(--section-padding) 0;
    }

    .cardform__wrapper {
        display: flex;
        
        @media(max-width: 992px) {
            flex-wrap: wrap;
            width: 100%;
            box-shadow: 0px 9px 15px 1px rgba(34, 60, 80, 0.356);
        }

        img {
            max-width: 500px;
            width: 100%;
            object-fit: cover;
            object-position: left;
            height: auto;

            @media(max-width: 992px) {
                max-width: unset;
            }
        }
    }

    .cardform-right {
        background-color: var(--primary);
        padding: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
        max-width: 700px;
        width: 100%;

        @media(max-width: 992px) {
            max-width: unset;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;

            @media(max-width: 767px) {
                font-size: 22px;
                text-align: center;
            }
        }

        p {
            margin: clamp(1.5rem, 1.167rem + 1.11vw, 2rem) 0;   
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #0d0d0d;
        }

        form {
            
            .input__wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

            }

            input {
                padding: 16px 20px;
                border: 1px solid #d3dad7;
                padding: 13px;
                border-radius: 5px;
                outline: none;
                border: 0;
                font-weight: 400;
                color: var(--headers-primary);
                font-size: 18px;
                border: 1px solid #d3dad7;
                width: 100%;
            }

            span {
                font-size: 14px;
                margin-top: 20px;
                display: inline-block;
            }

            button {
                font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                margin-top: 20px;
                line-height: 160%;
                width: 100%;
                text-align: center;
                @media(max-width: 600px) {
                }

                transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
            }
        }
    }
</style>

<script>
    const consultancyForm: any = document.querySelector(".consultancyForm");
	const consultancyPhone = document.querySelector('#consultancyPhone')
	const consultancyName = document.querySelector('#consultancyName')
	async function sendData() {
	// Associate the FormData object with the form element
	const formData = new FormData(consultancyForm);

	try {
		const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=9999999999&name=name&message=Консультация&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
		method: "POST",
		// Set the FormData instance as the request body
		body: formData,
		});
		console.log(await response.json());
	} catch (e) {
		console.error(e);
	}
	}

	// Take over form submission
	consultancyForm.addEventListener("submit", (event) => {
	event.preventDefault();
	sendData();
	consultancyPhone.value = ''
	consultancyName.value = ''
	});
</script>