<html>
    <head>
        <title>redrum</title>
    </head>

    <body>
        <div itemscope itemtype="https://schema.org/Accommodation">
            <meta itemprop="yearBuilt" content="2025">
            <li itemscope itemtype="https://schema.org/ApartmentComplex" aria-label="кошечка" >
                <img itemprop="photo" src="https://static-cse.canva.com/blob/847132/paulskorupskas7KLaxLbSXAunsplash2.jpg" alt="какое-то фото" />
                <div class="text__box">
                    <h3 itemprop="name">Комплекс</h3>
                    <div class="newBuildings__wrapper">
                        <p>Челябинск</p>
                        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"> 
                            <meta itemprop="addressLocality" content="Челябинск">
                            <meta itemprop="addressRegion" content="Челябинская область">
                            <meta itemprop="telephone" content="89642409046">
                        </div>
                    </div>
                    <div class="newBuildings__wrapper">
                    </div>
                    <div class="newBuildings__wrapper">
                        <p>Монолитный</p>
                    </div>
                    <a itemprop="url" href="#">Подробнее</a>
                </div>
            </li>
        </div>
    </body>
</html>
