---
const today = new Date();
---

<footer itemtype="https://schema.org/WPFooter" itemscope>
	
	<address>
		<ul>
			<li>
				<a href="tel:+79642409046">
					<svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z" fill="#29A71A" />
						<path d="M36.0227 13.9771C33.4217 11.3501 29.9675 9.73905 26.2833 9.43454C22.599 9.13003 18.9272 10.1521 15.9301 12.3164C12.9331 14.4807 10.8081 17.6448 9.93848 21.2379C9.06885 24.8309 9.51182 28.6165 11.1875 31.9118L9.54261 39.8975C9.52555 39.977 9.52506 40.0592 9.5412 40.1389C9.55733 40.2185 9.58972 40.294 9.63636 40.3606C9.70469 40.4617 9.80222 40.5395 9.91592 40.5836C10.0296 40.6278 10.1541 40.6362 10.2727 40.6078L18.0994 38.7527C21.3854 40.3859 25.1443 40.8004 28.7072 39.9224C32.27 39.0443 35.4059 36.9308 37.5567 33.9577C39.7075 30.9846 40.7338 27.3449 40.4529 23.6862C40.172 20.0274 38.6022 16.587 36.0227 13.9771ZM33.5824 33.4544C31.7827 35.249 29.4653 36.4336 26.9567 36.8413C24.4481 37.2491 21.8748 36.8594 19.5994 35.7271L18.5085 35.1873L13.7102 36.3237L13.7244 36.264L14.7188 31.4345L14.1847 30.3805C13.022 28.0972 12.6119 25.5045 13.013 22.9738C13.4141 20.4431 14.6059 18.1043 16.4176 16.2924C18.6941 14.0167 21.7811 12.7383 25 12.7383C28.2189 12.7383 31.306 14.0167 33.5824 16.2924C33.6018 16.3147 33.6227 16.3355 33.6449 16.3549C35.8931 18.6365 37.1482 21.7144 37.1365 24.9175C37.1248 28.1207 35.8472 31.1893 33.5824 33.4544Z" fill="white" />
						<path d="M33.1562 29.9116C32.5682 30.8377 31.6392 31.9712 30.4716 32.2525C28.4261 32.7468 25.2869 32.2695 21.3807 28.6275L21.3324 28.5849C17.8977 25.4002 17.0057 22.7496 17.2216 20.6474C17.3409 19.4542 18.3352 18.3746 19.1733 17.6701C19.3058 17.557 19.4629 17.4765 19.6321 17.435C19.8012 17.3935 19.9778 17.3921 20.1476 17.4311C20.3174 17.47 20.4757 17.5481 20.6099 17.6592C20.7441 17.7702 20.8504 17.9111 20.9204 18.0706L22.1846 20.9116C22.2668 21.0958 22.2972 21.2989 22.2727 21.4991C22.2482 21.6992 22.1696 21.889 22.0454 22.0479L21.4062 22.8775C21.2691 23.0488 21.1863 23.2572 21.1686 23.4759C21.1509 23.6946 21.199 23.9136 21.3068 24.1047C21.6647 24.7326 22.5227 25.6559 23.4744 26.511C24.5426 27.4769 25.7272 28.3604 26.4772 28.6616C26.6779 28.7435 26.8986 28.7636 27.1107 28.719C27.3229 28.6744 27.5168 28.5674 27.6676 28.4116L28.4091 27.6644C28.5521 27.5233 28.7301 27.4227 28.9247 27.3728C29.1193 27.3229 29.3237 27.3255 29.517 27.3803L32.5199 28.2326C32.6855 28.2834 32.8373 28.3714 32.9637 28.4899C33.0902 28.6084 33.1878 28.7542 33.2492 28.9162C33.3106 29.0782 33.3342 29.2522 33.318 29.4247C33.3019 29.5972 33.2466 29.7637 33.1562 29.9116Z" fill="white" />
					</svg>
				</a>
			</li>

			<li>
				<a href="t.me/telegram">
					<svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z" fill="#039BE5" />
						<path d="M11.4396 24.4583L35.5437 15.1645C36.6625 14.7604 37.6396 15.4374 37.2771 17.1291L37.2792 17.127L33.175 36.4624C32.8708 37.8333 32.0562 38.1666 30.9167 37.5208L24.6667 32.9145L21.6521 35.8187C21.3187 36.152 21.0375 36.4333 20.3917 36.4333L20.8354 30.0729L32.4187 19.6083C32.9229 19.1645 32.3062 18.9145 31.6417 19.3562L17.3271 28.3687L11.1562 26.4437C9.81666 26.0187 9.7875 25.1041 11.4396 24.4583Z" fill="white" />
					</svg>
				</a>
			</li>

			<li>
				<a href="viber://chat?number=79642409046">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" x="0" y="0" viewBox="0 0 152 152" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g data-name="Layer 2"><g data-name="12.Viber"><circle cx="76" cy="76" r="76" fill="#665cac" opacity="1" data-original="#665cac"></circle><path fill="#ffffff" d="M84 36H68a28 28 0 0 0-28 28v12a28 28 0 0 0 16 25.31v13.37a1.34 1.34 0 0 0 2.27.94L69.89 104H84a28 28 0 0 0 28-28V64a28 28 0 0 0-28-28zm10.48 52.48-4 4c-4.26 4.17-15.38-.59-25.18-10.6s-14.1-21.24-10-25.41l4-4a4.21 4.21 0 0 1 5.69.06l5.84 6a3.93 3.93 0 0 1-1.6 6.47 3.82 3.82 0 0 0-2.58 4.6c1 4.44 6.64 10 10.84 11.09a4 4 0 0 0 4.67-2.48 3.92 3.92 0 0 1 6.55-1.4l5.83 6a4.2 4.2 0 0 1-.06 5.67zM79.64 55a9.39 9.39 0 0 0-1.19.07 1.33 1.33 0 1 1-.29-2.65 12.23 12.23 0 0 1 1.48-.08A13.35 13.35 0 0 1 93 65.67a12.23 12.23 0 0 1-.08 1.48 1.33 1.33 0 0 1-2.65-.29 11.7 11.7 0 0 0 .07-1.19A10.69 10.69 0 0 0 79.64 55zm8 10.67a1.34 1.34 0 0 1-2.67 0 5.33 5.33 0 0 0-5.33-5.33 1.34 1.34 0 1 1 0-2.67 8 8 0 0 1 8 8zM97.81 70a1.34 1.34 0 1 1-2.6-.62 15.71 15.71 0 0 0 .43-3.69 16 16 0 0 0-16-16H78.4a1.33 1.33 0 0 1-.2-2.66q.72-.06 1.44-.06a18.7 18.7 0 0 1 18.67 18.7 18.94 18.94 0 0 1-.5 4.33z" opacity="1" data-original="#ffffff" class=""></path></g></g></g></svg>
				</a>
			</li>
		</ul>
	</address>

	<p>© <span itemprop="copyrightYear">2024</span> MonoliD</p>
	<a href="#" class="policy">Политика конфиденциальности</a>
	<p class="inn">© {today.getFullYear()} Реклама: Агентство недвижимости MonoliD</p>
	<p style="margin-top: 5px">ИНН: 741856267450</p>
	<p style="margin-top: 5px">ОРГН: 321745600074061</p>
</footer>

<div class="policy__bg">
	<div class="policy__modal">
		<button aria-label="Закрыть форму" class="policy__modal-close">
			<svg aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 320.591 320.591" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" fill="#000000" opacity="1" data-original="#000000"></path><path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"></path></g></svg>
		</button>

		<div>Политика конфиденциальности</div>

		<p>Администрация Сайта стремится защищать и уважать вашу частную жизнь. Настоящая политика конфиденциальности
            определяет, что Сайт получает ваши личные данные, в том числе контактные и персональные данные. Данные
            обрабатываются исключительно для исполнения вашего поручения. Мы просим вас внимательно прочитать
            нижеизложенное, чтобы в полной мере понять практику, касающуюся ваших данных.
		</p>

		<p>
			Сайт может собирать и обрабатывать данные о Пользователе, которую Пользователь предоставляет через сервисы
            Сайта. Использование данных осуществляется с вашего разрешения.
		</p>

		<div>Персональные данные</div>

		<p>Сайт принимает все разумные меры по защите персональных данных Пользователей и соблюдает права субъектов
            персональных данных, установленные действующим законодательством Российской Федерации.</p>

		<p>
			Оформление заказа на Сайте и предоставление своих персональных данных Пользователем администрации Сайта
            выражают согласие Пользователя на их обработку (понятие «обработка персональных данных» — согласно п.3 ст.3
            ФЗ 152 «О персональных данных»).
		</p>

		<p>
			Обработка персональных данных осуществляется в целях исполнения Договора (Заказа Пользователя), исключительно
            на территории Российской Федерации, с соблюдением действующего законодательства РФ. Согласие дается на срок,
            определенный сроком исполнения Договора. В случае отзыва согласия на использование и обработку персональных
            данных Пользователя, Пользователь уведомляет об этом Администрацию Сайта письменно или по электронной почте.
            После получения данного уведомления Администрацией Сайта предоставление Пользователю услуг прекращается.
		</p>

		<p>
			Сайт не имеет статуса оператора персональных данных. Персональные данные Пользователя не передаются
            каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой
            конфиденциальности.
		</p>

		<div>
			Изменения политики конфиденциальности
		</div>

		<p>
			Любые изменения политики конфиденциальности в будущем будут размещены на этой странице. При необходимости вам
            будет выслано уведомление по электронной почте.
		</p>
	</div>
</div>

<style lang="scss">
	footer {
		background-color: #03283C;
		padding: 70px 30px;
		ul {
			display: flex;
			gap: 28px;
			justify-content: center;
			margin-bottom: clamp(1.563rem, 0.521rem + 3.47vw, 3.125rem);
		}
		
		a {
			font-weight: 400;
			color: var(--primary);
			display: flex;
			width: fit-content;
			margin: 10px auto 0;
			text-align: center;
			text-decoration:underline;
			font-size: 16px;
		}

		p {
			font-size: 16px;
			color: var(--primary);
			text-align: center;
		}
	}

	.inn {
		margin-top: clamp(0.938rem, 0.521rem + 1.39vw, 1.563rem);
	}

	.policy__bg {
		display: none;
		&.active {
			position: fixed;
			width: 100%;
			height: 100dvh;
			background-color: #0b0b0bd0;
			
			inset: 0;
			z-index: 59;
			display: flex;
		}
	}


	.policy__modal-close {
            display: none;
    
            &.active {
                display: flex;
                position: absolute;
                right: 10px;
                top: 10px;
            }
    
            svg {
                width: 20px;
                height: 20px;
                fill: var(--primary);
    
                path {
                    fill: var(--headers-primary);
                }
            }
    
            
        }

		.policy__modal {
            &.active {
                position: fixed;
                max-width: 600px;
                width: 90%;
                display: block;
                inset: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                align-items: center;
                justify-content: center;
                padding: 0;
                z-index: 60;
                background-color: var(--primary);
                color: var(--headers-primary);
                padding: 40px 10px;
                height: 90%;
				overflow-y: auto;
                
            }

			div {
				font-size: 18px;
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 20px;
				line-height: 1.6;
			}
        }

		.policy {
			transition: .3s ease color;

                &:hover {
                    color: rgb(209, 192, 192);
                }
		}
</style>


<script>
	const policy = document.querySelectorAll('.policy')
	const policyBg = document.querySelector('.policy__bg')
	const modal = document.querySelector('.policy__modal')
	const close = document.querySelector('.policy__modal-close')
	const body = document.querySelector('body')
	policy.forEach((item) => {
		item.addEventListener('click', e => {
			e.preventDefault()
			policyBg?.classList.add('active')
			modal?.classList.add('active')
			close?.classList.add('active')
			body?.classList.add('locked')
		})
	})

	close?.addEventListener('click', e => {
			e.preventDefault()
			policyBg?.classList.remove('active')
			modal?.classList.remove('active')
			close?.classList.remove('active')
			body?.classList.remove('locked')
		})
	policyBg?.addEventListener('click', e => {
		e.preventDefault()
		policyBg?.classList.remove('active')
		modal?.classList.remove('active')
		close?.classList.remove('active')
		body?.classList.remove('locked')
	})
</script>
