---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<li itemprop="name" class:list={[className]}>
	<a itemprop="url" href={href} class:list={[className, { active: isActive, }]} {...props}>	
		<slot />
	</a>
</li>
<style lang="scss">
	a {
		display: inline-block;
		text-decoration: none;
		transition: .3s ease color;
		
		&:hover {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				bottom: -5px;
				height: 3px;
				border-bottom: 2px solid var(--btn-primary);
				left: 0;
			}
		}

		&.active {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				bottom: -5px;
				height: 3px;
				border-bottom: 2px solid var(--btn-primary);
				left: 0;
			}
		}
	}
</style>


