---
import { Image } from 'astro:assets';
import 'swiper/css/bundle';
import { getCollection } from "astro:content";
const posts = await getCollection('homepage');

---

<section>
        <h1 class="visually-hidden">Агентство недвижимости MonoliD</h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                {posts.map(post => (
                    <div class="swiper-slide">
                        <div class="slide__texts">
                            <p class="slide__title">{post.data.title}</p>
                            <p class="slide__text">{post.data.description}</p>
                            
                            <div class="slide__btns">
                                <button class="swiper-prev"><svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.36609 9.11615L7.79492 4.68732C8.03902 4.44322 8.35891 4.32119 8.67883 4.32119C8.99875 4.32119 9.31863 4.44322 9.56273 4.68732C10.0509 5.17548 10.0509 5.96693 9.56273 6.45509L7.26777 8.75001L21.75 8.75001C22.4404 8.75001 23 9.30966 23 10C23 10.6904 22.4404 11.25 21.75 11.25L7.26777 11.25L9.56273 13.5449C10.0509 14.0331 10.0509 14.8245 9.56273 15.3127C9.07453 15.8009 8.28312 15.8009 7.79492 15.3127L3.36609 10.8839C2.87797 10.3958 2.87797 9.60427 3.36609 9.11615Z" fill="white"/></svg></button>
                                <button class="swiper-next"><svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.6339 10.8839L16.2051 15.3127C15.961 15.5568 15.6411 15.6788 15.3212 15.6788C15.0013 15.6788 14.6814 15.5568 14.4373 15.3127C13.9491 14.8245 13.9491 14.0331 14.4373 13.5449L16.7322 11.25H2.25C1.55965 11.25 1 10.6903 1 9.99999C1 9.30963 1.55965 8.74999 2.25 8.74999H16.7322L14.4373 6.45506C13.9491 5.9669 13.9491 5.17545 14.4373 4.68729C14.9255 4.19913 15.7169 4.19913 16.2051 4.68729L20.6339 9.11612C21.122 9.60424 21.122 10.3957 20.6339 10.8839Z" fill="white"/></svg></button>
                            </div>

                        </div>
                        <Image loading="eager" class="slide__img" src={post.data.image} alt={post.data.title}/>
                    </div>
                ))}

                
            </div>
            
                        <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
        </div>
</section>


<style lang="scss">
    
        section {
            position: relative;
        }
    
        .slide__texts {
            background-color: #383c3eb0;
            color: var(--primary);
            padding: clamp(0.938rem, 0.521rem + 1.39vw, 1.563rem);
            max-width: 439px;
            min-height: clamp(8.75rem, 0.84rem + 26.37vw, 17.188rem);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 57px;
            display: flex;
            flex-direction: column;
    
            @media(max-width: 1400px) {
                transform: unset;
                left: 15px;
                top: 15px;
                height: unset;
            }

            @media(max-height: 800px) {
                transform: unset;
                left: 15px;
                top: 15px;
                height: unset;
                min-height: clamp(8.75rem, 5.208rem + 11.81vw, 14.063rem);
                
            }

            @media(max-width: 550px) {
                max-width: unset;
                left: 0;
                top: 0;
                width: 100%;
                min-height: unset;
            }
            .slide__title {
                font-size: clamp(1.5rem, 1rem + 1.67vw, 2.25rem);
                font-weight: 500;

                @media(max-height: 800px) {
                    font-size: clamp(1.5rem, 0.917rem + 1.94vw, 2.375rem);
                }
            }
    
            .slide__text {
                font-size: clamp(1rem, 0.833rem + 0.56vw, 1.25rem);
                margin-top: clamp(0.625rem, 0.039rem + 1.95vw, 1.25rem);

                

                @media(max-height: 800px) {
                    font-size: 16px;
                }
            }
        }
        .slide__btns {
            margin-top: 20px;
    
            @media(max-width: 992px) {
              margin-top: 15px;  
            }
            @media(max-width: 550px) {
              display: none;  
            }
        }
        
        .swiper {
            width: 100%;
            height: auto;
            visibility: hidden;
            .swiper-slide {
                width: 100%;
                position: relative;
                height: unset !important;
                img {
                    width: 100%;
                    // max-height: 800px;
                    height: 100vh;
                    object-fit: cover;
                    min-height: 400px;
                    // @media(max-width:992px) {
                    //     height: 50vh;
                    // }
                    @media(max-width:767px) {
                        height: 70vh;
                    }
                    @media(max-width:550px) {
                        height: 25vh;
                        
                        
                    }

                    // @media(max-height: 800px) {
                    //    height: 80vh;
                    // }
                    
                }
    
                button {
                    background-color: var(--btn-primary);
                    padding: 12px;
                    border-radius: 100%;
                    transition: .3s ease all;
                    &:hover {
                        background: #0e14b4;
                    }
                }
    
                
            }
    
            
            
        }
    
        
        .swiper-pagination {
            background-color: rgba(56, 60, 62, 0.719);
            padding: 5px;
            backdrop-filter: blur(4px);
            
        }
    </style>



<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
  
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
    dynamicBullets: true,
    
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-next',
    prevEl: '.swiper-prev',
  },

    autoplay: {
        delay: 5000,
    },

  effect: "fade",
  


})



</script>