---

---

<div class="maps__section">
    <h2>Расположение нашего офиса</h2>
    <div class="maps__wrapper">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A594de6463742a647c998d7dcfe2db792e09cfa7efd769402a53cf6421dd0079f&amp;source=constructor" /> 
    </div>

<style lang="scss">

    .maps__section {
        padding: var(--section-padding) 0 20px;

    }

    h2 {
        font-weight: 700;
        font-size: var(--header-clamp);
        color: var(--headers-primary);
        text-align: center;
        margin-bottom: 40px;
    }
    .maps__wrapper {
        max-width: 1300px;
        margin: 0 auto 50px;
        display: flex;
        justify-content: center;
        iframe {
            width: 100%;
            height: 400px;
            border: none;
        }

    }
</style>