---
import { Image } from 'astro:assets'
import sber from '../assets/sber.png'
import alfa from '../assets/alfabank.jpg'
import uralsib from '../assets/uralsib.png'
import vtbbank from '../assets/vtb.png'
import promsvyaz from '../assets/promsvyaz.jpg'
---

<section aria-labelledby="ourPartners__title">
    <div class="container">
        <h2 id="ourPartners__title">Наши партнёры по ипотеке</h2>

        <ul>
            <li>
                    <Image src={sber} alt="сбербанк"/>
            </li>
            <li>
                    <Image src={alfa} alt="Альфабанк"/>
            </li>
            <li>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250px" height="100px" viewBox="0 0 250 100"> <title>Group 15</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Artboard" transform="translate(-402.000000, -470.000000)"> <g id="Group-15" transform="translate(402.000000, 470.000000)"> <rect id="Rectangle-Copy-2" x="0" y="0" width="250" height="100"/> <g id="uralsib_2022_color_logo" transform="translate(17.000000, 25.000000)" fill="#3B175C" fill-rule="nonzero"> <path d="M88.6887931,29.9278689 C87.587069,29.9278689 86.6689655,29.5606557 85.7508621,29.0098361 C84.8327586,28.4590164 84.2818966,27.5409836 83.7310345,26.6229508 C83.3637931,25.704918 83.1801724,24.6032787 83.3637931,23.6852459 C83.5474138,22.5836066 84.0982759,21.6655738 84.8327586,20.9311475 C85.5672414,20.1967213 86.4853448,19.6459016 87.587069,19.4622951 C88.6887931,19.2786885 89.6068966,19.2786885 90.525,19.8295082 C91.4431034,20.1967213 92.3612069,20.9311475 92.912069,21.6655738 C93.462931,22.5836066 93.8301724,23.5016393 93.8301724,24.6032787 C93.8301724,25.3377049 93.6465517,25.8885246 93.462931,26.6229508 C93.2793103,27.1737705 92.912069,27.9081967 92.3612069,28.2754098 C91.8103448,28.8262295 91.2594828,29.1934426 90.7086207,29.3770492 C89.9741379,29.9278689 89.2396552,29.9278689 88.6887931,29.9278689 M89.6068966,14.6885246 C86.8525862,14.6885246 84.6491379,15.7901639 83.7310345,17.6262295 L83.5474138,17.6262295 L83.5474138,15.2393443 L78.4060345,15.2393443 L78.4060345,39.6590164 L83.5474138,39.6590164 L83.5474138,31.947541 L83.7310345,31.947541 C84.8327586,33.7836066 86.8525862,34.8852459 89.6068966,34.8852459 C94.9318966,34.8852459 98.9715517,30.4786885 98.9715517,24.7868852 C98.9715517,19.095082 94.9318966,14.6885246 89.6068966,14.6885246 M202.900862,29.9278689 C201.982759,29.9278689 201.064655,29.5606557 200.146552,29.0098361 C199.412069,28.4590164 198.677586,27.7245902 198.493966,26.8065574 C198.126724,25.8885246 198.126724,24.9704918 198.310345,24.052459 C198.493966,23.1344262 199.044828,22.2163934 199.59569,21.6655738 C200.330172,20.9311475 201.248276,20.5639344 202.166379,20.3803279 C203.084483,20.1967213 204.002586,20.3803279 204.92069,20.747541 C205.838793,21.1147541 206.573276,21.6655738 207.124138,22.5836066 C207.675,23.3180328 207.858621,24.2360656 207.858621,25.3377049 C207.858621,26.0721311 207.675,26.6229508 207.491379,27.1737705 C207.307759,27.7245902 206.940517,28.2754098 206.389655,28.8262295 C205.838793,29.1934426 205.287931,29.5606557 204.737069,29.9278689 C204.186207,29.9278689 203.451724,29.9278689 202.900862,29.9278689 Z M204.002586,16.157377 C202.717241,16.157377 201.431897,16.3409836 200.330172,16.8918033 C199.228448,17.442623 198.126724,18.3606557 197.392241,19.2786885 L197.208621,19.2786885 C197.575862,15.6065574 199.59569,13.9540984 203.818966,13.2196721 L211.163793,12.1180328 L211.163793,7.3442623 L203.268103,8.44590164 C195.923276,9.54754098 192.434483,13.5868852 192.434483,20.747541 C192.434483,26.0721311 192.801724,27.7245902 193.719828,29.5606557 C195.188793,32.6819672 198.677586,34.7016393 202.900862,34.7016393 C208.593103,34.7016393 213,30.4786885 213,24.9704918 C213,19.8295082 209.327586,16.157377 204.002586,16.157377 M73.0810345,9.54754098 L67.3887931,21.6655738 L59.4931034,9.54754098 L53.25,9.54754098 L64.6344828,26.9901639 L64.2672414,27.7245902 C64.0836207,28.2754098 63.7163793,28.642623 63.1655172,29.0098361 C62.6146552,29.3770492 62.0637931,29.3770492 61.512931,29.3770492 L57.4732759,29.3770492 L57.4732759,34.5180328 L62.0637931,34.5180328 C65.5525862,34.5180328 67.0215517,33.6 68.4905172,30.4786885 L78.5896552,9.73114754 L73.0810345,9.54754098 Z M128.534483,15.2393443 L127.616379,26.9901639 C127.432759,28.8262295 126.881897,29.5606557 125.412931,29.5606557 L124.127586,29.5606557 L124.127586,34.3344262 L127.249138,34.3344262 C130.737931,34.3344262 132.206897,32.6819672 132.390517,29.3770492 L133.125,20.1967213 L139.551724,20.1967213 L139.551724,34.3344262 L144.693103,34.3344262 L144.693103,15.2393443 L128.534483,15.2393443 Z M158.097414,19.6459016 C159.015517,19.6459016 159.933621,19.8295082 160.851724,20.3803279 C161.586207,20.9311475 162.32069,21.6655738 162.687931,22.4 L167.278448,20.5639344 C165.993103,16.8918033 162.32069,14.6885246 158.097414,14.6885246 C156.812069,14.6885246 155.526724,14.8721311 154.241379,15.4229508 C152.956034,15.9737705 151.85431,16.7081967 150.936207,17.6262295 C150.018103,18.5442623 149.283621,19.6459016 148.732759,20.9311475 C148.181897,22.2163934 147.998276,23.5016393 147.998276,24.7868852 C147.998276,26.0721311 148.181897,27.5409836 148.732759,28.642623 C149.283621,29.9278689 150.018103,31.0295082 150.936207,31.947541 C151.85431,32.8655738 152.956034,33.6 154.241379,34.1508197 C155.526724,34.7016393 156.812069,34.8852459 158.097414,34.8852459 C162.50431,34.8852459 165.993103,32.4983607 167.278448,29.0098361 L162.687931,27.1737705 C162.32069,28.0918033 161.586207,28.8262295 160.851724,29.1934426 C160.117241,29.7442623 159.199138,29.9278689 158.097414,29.9278689 C157.362931,29.9278689 156.812069,29.7442623 156.077586,29.5606557 C155.526724,29.3770492 154.792241,29.0098361 154.425,28.4590164 C154.057759,27.9081967 153.506897,27.357377 153.323276,26.8065574 C153.139655,26.2557377 152.956034,25.5213115 152.956034,24.7868852 C152.956034,24.052459 152.956034,23.5016393 153.323276,22.7672131 C153.506897,22.2163934 153.874138,21.4819672 154.425,21.1147541 C154.975862,20.5639344 155.526724,20.1967213 156.077586,20.0131148 C156.628448,19.6459016 157.362931,19.6459016 158.097414,19.6459016 M183.253448,15.2393443 L175.357759,27.357377 L175.357759,15.2393443 L170.216379,15.2393443 L170.216379,34.3344262 L175.908621,34.3344262 L183.80431,22.4 L183.80431,34.3344262 L188.94569,34.3344262 L188.94569,15.2393443 L183.253448,15.2393443 Z M111.457759,29.9278689 C110.356034,29.9278689 109.437931,29.7442623 108.519828,29.1934426 C107.601724,28.642623 106.867241,27.9081967 106.5,26.8065574 C106.132759,25.8885246 105.949138,24.7868852 106.132759,23.8688525 C106.316379,22.7672131 106.867241,21.8491803 107.601724,21.1147541 C108.336207,20.3803279 109.25431,19.8295082 110.356034,19.6459016 C111.457759,19.4622951 112.375862,19.4622951 113.477586,19.8295082 C114.39569,20.1967213 115.313793,20.9311475 115.864655,21.6655738 C116.415517,22.5836066 116.782759,23.5016393 116.782759,24.6032787 C116.782759,25.3377049 116.599138,25.8885246 116.415517,26.6229508 C116.231897,27.1737705 115.864655,27.9081967 115.313793,28.2754098 C114.762931,28.8262295 114.212069,29.1934426 113.661207,29.3770492 C112.926724,29.9278689 112.192241,29.9278689 111.457759,29.9278689 M116.599138,17.6262295 L116.415517,17.6262295 C115.313793,15.7901639 113.293966,14.6885246 110.539655,14.6885246 C105.214655,14.6885246 101.175,19.095082 101.175,24.7868852 C101.175,30.4786885 105.398276,34.8852459 110.539655,34.8852459 C113.293966,34.8852459 115.497414,33.7836066 116.415517,31.947541 L116.599138,31.947541 L116.599138,34.3344262 L121.740517,34.3344262 L121.740517,15.2393443 L116.599138,15.2393443 L116.599138,17.6262295 Z M38.9275862,22.4 C38.9275862,19.095082 38.0094828,15.9737705 36.5405172,13.0360656 C34.887931,10.0983607 32.6844828,7.71147541 29.9301724,6.05901639 L29.9301724,10.6491803 C32.3172414,12.852459 34.1534483,15.6065574 34.887931,18.9114754 C35.6224138,22.0327869 35.2551724,25.3377049 34.1534483,28.4590164 C31.7663793,26.2557377 30.1137931,23.3180328 29.1956897,20.1967213 C27.9103448,16.3409836 27.7267241,12.1180328 27.5431034,6.97704918 L27.5431034,4.77377049 C26.4413793,4.22295082 25.3396552,3.8557377 24.0543103,3.67213115 L24.0543103,7.16065574 C24.237931,25.1540984 27.1758621,32.4983607 31.5827586,38.0065574 C33.9698276,36.1704918 35.8060345,33.7836066 37.0913793,31.2131148 C38.1931034,28.2754098 38.9275862,25.3377049 38.9275862,22.4 L38.9275862,22.4 M15.0568966,6.97704918 L15.0568966,3.48852459 C13.7715517,3.8557377 12.6698276,4.22295082 11.5681034,4.59016393 L11.5681034,6.79344262 C11.5681034,11.9344262 11.2008621,16.157377 9.91551724,20.0131148 C8.99741379,23.1344262 7.1612069,25.8885246 4.95775862,28.2754098 C3.67241379,25.3377049 3.4887931,21.8491803 4.22327586,18.7278689 C4.77413793,15.7901639 6.61034483,12.852459 8.99741379,10.6491803 L8.99741379,6.05901639 C6.24310345,7.89508197 4.03965517,10.2819672 2.38706897,13.0360656 C0.734482759,15.7901639 0,19.2786885 0,22.4 L0,22.4 C0,25.3377049 0.734482759,28.2754098 2.01982759,30.8459016 C3.30517241,33.4163934 5.14137931,35.8032787 7.52844828,37.6393443 L7.52844828,37.6393443 C11.9353448,32.3147541 14.8732759,24.7868852 15.0568966,6.97704918 M21.1163793,0 C20.5655172,0 19.8310345,0 19.4637931,0 C19.0965517,0 18.362069,0 17.6275862,0 L17.6275862,4.03934426 C17.6275862,21.6655738 16.8931034,29.3770492 14.5060345,41.3114754 C17.8112069,42.2295082 21.1163793,42.2295082 24.4215517,41.3114754 C21.8508621,29.5606557 21.3,21.8491803 21.3,4.03934426 L21.1163793,0 Z" id="Shape"/> </g> </g> </g> </g> </svg>
            </li>
            <li>
                    <Image src={vtbbank} alt="Втб банк"/>
            </li>
            <li>
                    <Image src={promsvyaz} alt="Промсвязьбанк"/>
            </li>
        </ul>


        <div class="form__wrapper">
            <h3>Подобрать недвижимость</h3>

            <form class="partners__form">
                <div class="input__wrapper">
                    <label for="">
                        <input id="partnersFormName" type="text" placeholder="Введите ваше имя" name="name" required/>
                    </label>
                    <label for="">
                        <input id="partnersFormPhone" class="phoneMask" type="tel" placeholder="Ваш номер телефона" name="phone" required/>
                    </label>
                </div>
    
                <button>Записаться на консультацию</button>
    
                <a class="policy" href="">Нажимая на кнопку, вы даете согласие на обработку персональных данных</a>
            </form>
            <div class="form-sent-message partnersMessage">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="52" height="52" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><switch><g><g fill="#02bc7d"><path d="M9.7 11.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3 3c.2.2.4.3.7.3s.5-.1.7-.3l7-8c.3-.5.3-1.1-.2-1.4-.4-.3-1-.3-1.3.1L12 13.5z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path><path d="M21 11c-.6 0-1 .4-1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8c0-2.1.8-4.1 2.3-5.6C7.8 4.8 9.8 4 12 4c.6 0 1.3.1 1.9.2.5.2 1.1-.1 1.3-.7s-.2-1-.7-1.2h-.1c-.8-.2-1.6-.3-2.4-.3C6.5 2 2 6.5 2 12.1c0 2.6 1.1 5.2 2.9 7 1.9 1.9 4.4 2.9 7 2.9 5.5 0 10-4.5 10-10 .1-.6-.4-1-.9-1z" fill="#02bc7d" opacity="1" data-original="#02bc7d"></path></g></g></switch></g></svg>										
                <p>Форма успешно отправлена</p>
            </div>
        </div>
    </div>
</section>


<style lang="scss">

    section {
        padding: var(--section-padding) 0 0;
        
    }


    h2 {
        font-weight: 700;
        font-size: var(--header-clamp);
        color: var(--headers-primary);
        text-align: center; 
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 22px;
        margin-top: 50px;
        flex-wrap: wrap;

        li {
            transition: .3s ease box-shadow;
            display: flex;
	    background: white;
            &:hover {
                box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.2);

            }
            img {
                width: 100%;
                height: 90px;
            }
        }

    }

    .form__wrapper {
        margin-top: 30px;
        padding: 25px;
        position: relative;
        background-color: #03283C;
        h3 {
            font-weight: 400;
            font-size: var(--header-clamp);
            text-align: center;
            color: var(--primary);
        }

        form {
            margin-top: clamp(1.875rem, 1.333rem + 1.81vw, 2.688rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            


            button {
                font-weight: 500;
                font-size: 18px;
                padding: 7px 23px;
                background-color: var(--btn-primary);
                border-radius: 20px;
                color: var(--primary);
                margin-top: 30px;
                line-height: 160%;
                transition: .3s ease background;
                &:hover {
                    background: #0b1099;
                }
            }

            a {
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                color: var(--primary);
                margin-top: 15px;
                text-decoration:underline;

                transition: .3s ease color;

                &:hover {
                    color: rgb(209, 192, 192);
                }
            }
        }
    }

    .input__wrapper {
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: center;

        @media(max-width: 550px) {
            flex-wrap: wrap;
        }

        label {
            width: 100%;
            max-width: 381px;
        }
        input {
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: var(--headers-primary);
            padding: 13px;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            width: 100%;
            max-width: 381px;
        }

        
    }
</style>


<script>
    //@ts-ignore
    const apiKey = import.meta.env.API_KEY;
    const partnersForm: any = document.querySelector(".partners__form");
	const partnersPhone = document.querySelector('#partnersFormPhone')
	const partnersName = document.querySelector('#partnersFormName')
	async function sendData() {
	// Associate the FormData object with the form element
	const formData = new FormData(partnersForm);

	try {
		const response = await fetch(`https://monolid.yucrm.ru/api/orders/post?&phone=9999999999&name=name&message=Подобрать недвижимость&oauth_token=afd0bcd4ee3a219f27812dd4d20a550c`, {
		method: "POST",
		// Set the FormData instance as the request body
		body: formData,
        mode: 'no-cors',
		});
		console.log(await response.json());
	} catch (e) {
		console.error('2024');
	}
	}
    const partnersMessage = document.querySelector('.partnersMessage')
	// Take over form submission
	partnersForm.addEventListener("submit", (event) => {
	event.preventDefault();
	sendData();
    partnersMessage.classList.add('active')
	setTimeout(() => {
		partnersMessage.classList.remove('active')
	}, 5000);
	partnersPhone.value = ''
	partnersName.value = ''
	});
</script>
