---

---

<section>
    <div class="container">
        <h2>Наши услуги</h2>

        <ul>
            <li>
                <a href="">
                    <h3>Новостройки</h3>
                    <ul>
                        <li>Новостройки</li>
                        <li>Подробные видеообзоры</li>
                        <li>Бесплатные экскурсии</li>
                    </ul>
                    <a href="#">Смотреть</a>
                </a>
            </li>

            <li>
                <a href="">
                    <h3>Оценка недвижимости</h3>
                    <ul>
                        <li>Рассчитаем рыночную стоимость недвижимости и сроки продажи</li>
                    </ul>
                    <a href="#">Записаться</a>
                </a>
            </li>

            <li>
                <a href="">
                    <h3>Ипотека</h3>
                    <ul>
                        <li>Более 30 новостроек</li>
                        <li>Подробные видеообзоры</li>
                        <li>Бесплатные экскурсии</li>
                        <li>Программы с гос. поддержкой</li>
                    </ul>
                    <a href="#">Записаться</a>
                </a>
            </li>

            <li>
                <a href="">
                    <h3>Продажа квартиры</h3>
                    <ul>
                        <li>Поможем продать вашу недвижимость быстро и безопасно за 25 дней</li>
                    </ul>
                    <a href="#">Записаться</a>
                </a>
            </li>

            <li>
                <a href="">
                    <h3>Рефинансирование</h3>
                    <ul>
                        <li>Уменьшите ежемесячный платёж по ипотеке</li>
                    </ul>
                    <a href="#">Записаться</a>
                </a>
            </li>

            <li>
                <a href="">
                    <h3>Аренда</h3>
                    <ul>
                        <li>Поможем быстро сдать квартиру проверенным жильцам</li>
                    </ul>
                    <a href="#">Записаться</a>
                </a>
            </li>
        </ul>
    </div>
</section>