---
import Header from '../components/Header.astro'
import BaseHead from '../components/BaseHead.astro'

import { Breadcrumbs } from "astro-breadcrumbs";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '../components/Footer.astro'
import "../../astro-breadcrumbs-config.scss";
const customCrumbs = [
 {
    text: "Главная",
    href: "/",
  },
  {
    text: "Контакты",
    href: "/contacts/",
  }
]
---
<!doctype html>
<html lang="ru">
    <BaseHead title="Контакты – Monolid - Агентство недвижимости Челябинск" description={SITE_DESCRIPTION}/>
    <body>
        <div class="wrapper">
            <Header />

            <div class="breadcrumbs__container">
                <div class="c-breadcrumbs"><Breadcrumbs crumbs={customCrumbs}>
                    <svg width="12" height="12" slot="separator" >
                        <text x="3" y="12" fill="#6c757d" font-size="18" font-family="Arial" unicode-bidi="embed">•</text>
                      </svg>
                            </Breadcrumbs>
                </div>
            </div>

            <main>
                <section id="ourContacts" aria-labelledby="ourContacts__title">
                    <div class="container">
                        <h1 class="title-h1" id="ourContacts__title">Контакты</h1>

                        <div class="ourContacts__wrapper">
                            
                            <ul>
                                <li>
                                    <div class="icon__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.85657 6.5879C9.37468 5.88969 9.56046 5.15384 8.9745 4.50431C7.65955 2.66433 6.77521 1.52649 6.22051 0.978537C5.16595 -0.063196 3.43118 0.0777148 2.51785 0.977647C2.0273 1.46101 1.86122 1.627 1.35753 2.13861C-1.44812 4.94577 0.262908 10.88 4.81145 15.433C9.35896 19.985 15.2926 21.6969 18.1042 18.8838C18.569 18.4358 18.9625 18.042 19.2729 17.714C20.1679 16.768 20.3038 15.1097 19.267 14.0324C18.7354 13.4801 17.6504 12.6385 15.733 11.2669C15.1457 10.7418 14.4495 10.8556 13.8111 11.2744C13.504 11.4759 13.2806 11.6797 12.8586 12.1021L12.0924 12.8687C11.9914 12.9697 10.621 12.2834 9.29077 10.9518C7.95978 9.61953 7.27396 8.24906 7.37441 8.14862L8.14118 7.38142C8.27506 7.24742 8.33906 7.18254 8.42114 7.09627C8.59215 6.91654 8.73374 6.75344 8.85657 6.5879ZM13.5058 14.2829L14.2722 13.5161C14.5044 13.2837 14.6549 13.1407 14.7774 13.0422C16.457 14.2484 17.4298 15.0068 17.8271 15.4197C18.0657 15.6676 18.0286 16.1199 17.8212 16.339C17.5342 16.6424 17.1614 17.0155 16.7038 17.4568C14.8858 19.2756 10.096 17.8937 6.22519 14.0191C2.35321 10.1433 0.971944 5.35279 2.77626 3.54748C3.27792 3.03798 3.43686 2.87912 3.92042 2.40265C4.10172 2.22401 4.59558 2.18389 4.81614 2.40176C5.2432 2.82364 6.0354 3.83799 7.20077 5.46133C7.14044 5.53623 7.06509 5.62087 6.97339 5.71724C6.90609 5.78798 6.85002 5.84481 6.72744 5.96751L5.96142 6.73396C4.65827 8.037 5.76808 10.2547 7.87703 12.3657C9.98454 14.4753 12.2031 15.5864 13.5058 14.2829Z" fill="#11263A"/>
                                        </svg>
                                    </div>
                                    <div class="contacts__phones">
                                        <a href="tel:+79227405800">+ 7 (922) 740-58-00</a>
                                        <a href="tel:+79227301700">+ 7 (922) 730-17-00</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0.75H20C21.1046 0.75 22 1.64543 22 2.75V16.75C22 17.8546 21.1046 18.75 20 18.75H2C0.89543 18.75 0 17.8546 0 16.75V2.75C0 1.64543 0.89543 0.75 2 0.75ZM2 7.36811V16.75H20V7.36853L11 11.8685L2 7.36811ZM2 5.13199L11 9.63245L20 5.13247V2.75H2V5.13199Z" fill="#11263A"/>
                                        </svg>
                                    </div>
                                    <a href="mailto:monolid2024@yandex.ru">monolid2024@yandex.ru</a>
                                </li>
                                <li>
                                    <div class="icon__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 22.5776L9.65773 22.0033C15.1887 17.1737 18 12.9568 18 9.25C18 4.00066 13.9029 0.25 9 0.25C4.09705 0.25 0 4.00066 0 9.25C0 12.9568 2.81131 17.1737 8.34227 22.0033L9 22.5776ZM9 19.9134C4.30661 15.6835 2 12.0992 2 9.25C2 5.1466 5.16411 2.25 9 2.25C12.8359 2.25 16 5.1466 16 9.25C16 12.0992 13.6934 15.6835 9 19.9134ZM9 4.25C11.7614 4.25 14 6.48858 14 9.25C14 12.0114 11.7614 14.25 9 14.25C6.23858 14.25 4 12.0114 4 9.25C4 6.48858 6.23858 4.25 9 4.25ZM6 9.25C6 7.59315 7.34315 6.25 9 6.25C10.6569 6.25 12 7.59315 12 9.25C12 10.9069 10.6569 12.25 9 12.25C7.34315 12.25 6 10.9069 6 9.25Z" fill="#11263A"/>
                                        </svg>
                                    </div>
                                    <p>Челябинск, Университетская набережная 97А</p>
                                </li>
                                <li>
                                    <div class="icon__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23.75C5.92487 23.75 1 18.8251 1 12.75C1 6.67487 5.92487 1.75 12 1.75C18.0751 1.75 23 6.67487 23 12.75C23 18.8251 18.0751 23.75 12 23.75ZM12 21.75C16.9706 21.75 21 17.7206 21 12.75C21 7.77944 16.9706 3.75 12 3.75C7.02944 3.75 3 7.77944 3 12.75C3 17.7206 7.02944 21.75 12 21.75ZM17 11.75H13V6.75H11V13.75H17V11.75Z" fill="#11263A"/>
                                        </svg>
                                    </div>
                                    <div class="contacts__hours">
                                        <b>ПН-ПТ: <span>10:00 – 20:00</span></b>
                                        <b>СБ-ВС: <span>Выходной</span></b>
                                    </div>
                                </li>
                                
                            </ul>

                            <div class="map__wrapper">
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A594de6463742a647c998d7dcfe2db792e09cfa7efd769402a53cf6421dd0079f&amp;source=constructor" width="600" height="550" frameborder="0"></iframe>
                            </div>
                        </div>

                        <p class="p__text">На данной странице представлены контакты "MonoliD" - вы можете связаться с нами, а также увидеть адрес и расположение нашего офиса, если хотите прийти к нам лично.</p>
                    
                        <h2>Способы связи с нами:</h2>

                        <ul class="howto">
                            <li>оставить заявку на обратный звонок</li>
                            <li>написать нам письмо на электронную почту</li>
                            <li>позвонить по указанным номерам телефонов, как напрямую, так и через WhatsApp, Viber и Telegram</li>
                            <li>посетить наш офис по адресу: Челябинск, Университетская набережная 97А                            </li>
                        </ul>

                        <p class="p__textF">Время работы компании "MonoliD" с 10:00 до 20:00. Здесь вы всегда получите квалифицированную помощь от профессионалов своего дела! Мы поможем с вашим запросом в самые кратчайшие сроки с максимально комфортным результатом!                        </p>
                    </div>
                </section>
            </main>

            <Footer />
        </div>
    </body>
</html>

<style lang="scss">
    main {
		padding-bottom: 50px;
	}

    .breadcrumbs__container {
			max-width: 1330px;
			margin: 30px auto 0;
			padding: 0 15px;
            width: 100%;
		}

    section {
        
        
    }


    h1 {
        font-weight: 700;
        font-size: var(--header-clamp);
        color: var(--headers-primary);
        text-align: center; 
        margin-bottom: 4rem;
        margin-top: 80px;
        @media(max-width: 767px) {
            margin-bottom: 2rem;
            margin-top: 60px;
        }
    }
    .contacts__phones {
        display: flex;
        flex-direction: column;
    }
    .ourContacts__wrapper {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;

        @media(max-width: 1100px) {
            flex-wrap: wrap;
            width: 100%;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media(max-width: 1100px) {
                width: 100%;
            }
            li {
                display: flex;
                align-items: center;
                background: var(--primary);
                border-radius: 10px;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                padding: 30px clamp(0.938rem, -0.521rem + 4.86vw, 3.125rem);
                gap: 20px;
                border: 1px solid black;
                .icon__wrapper {
                    max-width: 60px;
                    width: 100%;
                    max-height: 60px;
                    height: auto;
                    background: var(--btn-primary);
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 18px;
                    svg {
                        path {
                            fill: var(--primary);
                        }
                    }
                }
                a, p, b {
                    color: var(--headers-primary);

                }

                a {
                    transition: .3s ease opacity;
                    &:hover {
                        opacity: 0.65;
                    }
                }

                .contacts__hours {
                   display: flex;
                   flex-direction: column;
                   gap: 10px; 
                }

                b {
                    font-weight: normal;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }

        .map__wrapper {
            @media(max-width: 1100px) {
                width: 100%;

                iframe {
                    width: 100%;
                }
            }
        }
    }

    .p__text {
        margin: 3rem 0 3rem;
        color: #0d0d0d;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;

        @media(max-width: 1100px) {
            margin: 24px 0;
        }
    }

    h2 {
        font-weight: 500;
        font-size: var(--header-clamp);
        margin-bottom: 1.5rem;
    }

    .howto {
        li {
            list-style: disc;
            margin-left: 22px;
            color: #0d0d0d;
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;

            &::marker {
                color: var(--btn-primary);
                font-size: 1.1rem;
                


            }
        }
    }

    .p__textF {
        margin: 2rem 0;
        color: #0d0d0d;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
    }
</style>