---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro'
import About from '../components/About.astro';
// import OurServices from '../components/OurServices.astro'
import NewBuildings from '../components/NewBuildings.astro';
import OurPartners from '../components/OurPartners.astro';
import Maps from '../components/Maps.astro';
import { Breadcrumbs } from "astro-breadcrumbs";
import CardForm from '../components/CardForm.astro';
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<div class="visually-hidden"><Breadcrumbs indexText="Главная"/></div>
				<main>
					<Hero />
					<About />
					<CardForm />
					<NewBuildings />
					<OurPartners />
					<Maps />
				</main>
			<Footer />
		</div>
	</body>
</html>

<script>

	

	const policy = document.querySelectorAll('.policy')

	policy.forEach((item) => {
		item.addEventListener('click', e => {
			e.preventDefault()

			console.log(123)
		})
	})

	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);
	const tl = gsap.timeline()

	tl.from('header', {
		opacity: 0,
	}).from('.swiper', {
		opacity: 0,
	})

	gsap.from('.about__wrapper li', {
		scrollTrigger: {
			trigger: '.about__wrapper li',
			start: 'center 90%'

		},

		y: 10,
		opacity: 0,
		stagger: .2,
	})

	gsap.from('.ourservives__wrapper li', {
		scrollTrigger: {
			trigger: '.ourservives__wrapper li',
			start: 'center 90%'

		},

		y: 10,
		opacity: 0,
		stagger: .05,
	})

	gsap.from('.newBuildings__ul li', {
		scrollTrigger: {
			trigger: '.newBuildings__ul li',
			start: 'center 90%'

		},

		y: 10,
		opacity: 0,
		stagger: .4,
	})


	
</script>
